Pipfile.lock
../.idea
node_modules
.DS_Store
npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
package-lock.json
.vscode
.idea
*.pyc
*.txt
*.csv
*.xls
*.xlsx
*.xml
*.zip
db.sqlite3
logs
media
.venv
venv
env
*.env
!*.env.txt
!*.py.txt
!requirements*.txt
celerybeat-schedule
/app/static/static/*
settings_local.py
